# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Docker
*.tar

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.tfvars
*.tfplan

# Logs
*.log

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files
.env
.env.*

# Keys / credentials
*.pem
*.ppk
id_rsa
id_rsa.pub
myVm_key
myVm_key.pub
