# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Docker
*.tar

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Logs
*.log

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files
.env
.env.*
